$link-color: #A3F7B5 ;
.bg-bo{
    background-color: #E5F9E0;
}
@import'../../node_modules/bootstrap/scss/bootstrap.scss';

.bg-purple{
    background-color: #53599A;
}

.fas{
color:#A3F7B5;
font-size: 30px
}
.navbar-toggler{
    color: #A3F7B5;
}
